{% extends "@SyliusShop/layout.html.twig" %}

{% block content %}
    {{ sylius_template_event('sylius.shop.taxon.header', {'taxon': taxon}) }}

    <div id="searchbox"></div>
    <div id="range-slider"></div>
    <div id="hierarchical-menu"></div>
    <div id="hits"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    <script>
        const searchClient = algoliasearch('2O6CZAU8ZC', 'ee78f9d4e5d6589895e953f74666d4d1');

        const search = instantsearch({
            indexName: '{{ index }}',
            searchClient,
            routing: true,
        });

        search.addWidgets([
            instantsearch.widgets.searchBox({
                container: '#searchbox',
            }),

            instantsearch.widgets.hits({
                container: '#hits',
                templates: {
                    item: `{% include "@SetonoSyliusAlgoliaPlugin/shop/product/_item.html.twig" %}`,
                }
            }),
            instantsearch.widgets.rangeSlider({
                container: '#range-slider',
                attribute: 'price',
            }),
            instantsearch.widgets.hierarchicalMenu({
                container: '#hierarchical-menu',
                attributes: [
                    'taxons.lvl0',
                    'taxons.lvl1',
                    'taxons.lvl2',
                    'taxons.lvl3',
                ],
                showParentLevel: false,
            }),
            instantsearch.widgets.configure({
                filters: "taxonCodes:{{ taxon.code }}"
            })
        ]);

        search.start();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css" integrity="sha256-TehzF/2QvNKhGQrrNpoOb2Ck4iGZ1J/DI4pkd2oUsBc=" crossorigin="anonymous">
    <style>
        .ais-Hits-list {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: 1fr;
        }

        @media (min-width: 680px) {
            .ais-Hits-list {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width: 900px) {
            .ais-Hits-list {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (min-width: 1200px) {
            .ais-Hits-list {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    </style>
{% endblock %}
